
/*Root Container Styles*/
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #202123;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


    /*Top level container for app*/
#appContainer {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;

}


#title {

    font-size: 3rem;
    margin: .5rem 1%;
}

.nav-wrapper {
    display: flex;
    height: 75px;
    align-items: center;
}

/*Main Content Styles Section*/
#middleContainer {
    height: 600px;
    width: 100%;
    display: flex;
    background-color: #54585e;
}

    /*PresetList Styles Section*/
#presetList {
    height: 100%;
    width: 20%;
    margin-right: 2%;
}

.collection {
    border: 1px solid #202123;
}


    /*Generator Styles Section*/
#generatorContainer {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


        /*GeneratorBlock Styles Section*/
.generatorBlock {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #4f5051;
}

.btn:hover {
    background-color: #757575 !important;
}

        /*Button to add a new Generator*/
.addGenBtn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #4f5051;
}

.addOscBtn, .addEnvBtn {
    width: 90%;
    height: 40%;
    font-size: 1rem;
    background-color: dimgrey;
}

.addOscBtn:focus {
    background-color: whitesmoke;
}



/*Mixer Styles Section*/
#mixer {

}