/*
Project: Tone_Board
Author: Trevor Johnson
File Name: App.css

App.css contains root element and App component styles.
See App.js for component definition.
*/


/*Root Container Styles*/
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #202123;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    overflow-y: scroll;
}

/*Targets root element that React app replaces*/
#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/*Top level container for app*/
#appContainer {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;

}












