/*
Project: Tone_Board
Author: Trevor Johnson
File Name: Mixer.css

Mixer.css contains component styles for the Envelope component.
See Mixer.js for component definition.
*/


/*Mixer Styles Section*/
.mixer {
    height: 400px;
    width: 100%;
    background-color: #54585e;
    margin-top: 2%;
    text-align: center;
}