/*
Project: Tone_Board
Author: Trevor Johnson
File Name: PianoRoll.css

PresetList.css contains component styles for the PianoRoll component.
See PianoRoll.js for component definition.
*/

@media only screen and (max-width: 600px) {
    .ReactPiano__Keyboard {
        width: 800px !important;
        height: 125px !important;
    }
}

.pianoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    overflow-x: hidden;
}

.keyboardTitle {
    font-size: 3.0rem;
    color: whitesmoke;
    margin: 1.25rem 0;
    text-align: center;
}

